mixin option(optionName, elementName, inputType)
  -
    const type = inputType
        ? inputType
        : 'checkbox'

    let labelName;
    let inputName;
    let description = '';

    if (typeof optionName === 'string') {
      labelName = optionName;
      inputName = optionName.toLowerCase();
    } else {
      labelName = optionName.label;
      inputName = optionName.input;
      if (!inputName) {
        inputName = labelName.toLowerCase();
      }
      if (optionName.description) {
        description = `(${optionName.description})`;
      }
    }

    const id = elementName
        ? `${elementName}-${inputName}`
        : inputName;

  .option.js-option
    label(for=id)
      if (labelName)
        span= `${labelName}${description}`
      input.option__input.js-option__input(data-name=labelName
        type=type
        id=id)
