include ../slider-config/slider-config

mixin slider-container(configOptions, heading, sliderOptions)
  -
    let hasScaleValueDesc = false;
    if (configOptions.hasConfigOptionsDesc !== undefined) {
        hasScaleValueDesc = configOptions.hasConfigOptionsDesc;
    }

    let title;
    let desc;
    if (heading) {
      title = heading;
      if (typeof heading !== 'string') {
        title = heading.title;
        desc = heading.description;
      }
    }

  .slider-container.js-slider-container(data-slider-options=sliderOptions || {})
    if (title)
      h2.slider-container__title= title
    if (desc)
      span.slider-container__desc= desc

    .slider-container__slider
      .slider.js-slider(class=`${configOptions.sliderName} js-${configOptions.sliderName}`)

    .slider-container__config
      +slider-config(configOptions.sliderName, hasScaleValueDesc)
